@font-face {
	font-family: 'czsk-wiki-font';
	src:url('../fonts/czsk-wiki-font.eot?w249yk');
	src:url('../fonts/czsk-wiki-font.eot?#iefixw249yk') format('embedded-opentype'),
		url('../fonts/czsk-wiki-font.woff?w249yk') format('woff'),
		url('../fonts/czsk-wiki-font.ttf?w249yk') format('truetype'),
		url('../fonts/czsk-wiki-font.svg?w249yk#czsk-wiki-font') format('svg');
	font-weight: normal;
	font-style: normal;
} 

[class^="icon-"], [class*=" icon-"] {
	font-family: 'czsk-wiki-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Custom icon */
.icon-logo_sbox:before {
	content: "\e60f";
	font-size: 18px;
}

.icon-logo_radegast:before {
	content: "\e60e";
	font-size: 20px;
}

.icon-logo_oscam:before {
	content: "\e60d";
	font-size: 40px;
}

.icon-logo_newcs:before {
	content: "\e60c";
	font-size: 18px;
}
.icon-logo_doscam:before {
	content: "\e610";
}
.icon-logo_cccam:before {
	content: "\e60b";
	font-size: 18px;
}

.icon-logo_camd3:before {
	content: "\e60a";
	font-size: 20px;
}

.icon-icon_smile_wink:before {
	content: "\e609";
}

.icon-icon_smile_unsure:before {
	content: "\e608";
}

.icon-icon_smile_tongue:before {
	content: "\e607";
}

.icon-icon_smile_surprised:before {
	content: "\e606";
}

.icon-icon_smile_squint:before {
	content: "\e605";
}

.icon-icon_smile_sad:before {
	content: "\e604";
}

.icon-icon_smile_cry:before {
	content: "\e603";
}

.icon-icon_smile_big_smile:before {
	content: "\e602";
}

.icon-icon_light:before {
	content: "\e601";
	font-size: 24px;
	margin-right: 10px;
	color: #EEC106;
}

.icon-icon_help:before {
	content: "\e600";
	font-size: 16px;
}

/* Custom settings for icons from fontawesome */
.fa-warning:before {
	color: #E64D3D;
	margin-right: 10px;
	font-size: 24px;
}
.fa-github-square::before {
    font-size: 20px;
}
.size14px {
	font-size: 14px;
}
.margright5px {
	margin-right: 5px;
}